<ngx-collapsible-sidebar-container>
  <ngx-collapsible-sidebar [collapsed]="collapse">
    <ngx-collapsible-sidebar-item title="Demo1 Heading" icon="add" routerLink="/page1">
      <ngx-collapsible-sidebar-sub-item>
        <span>Heading</span>
      </ngx-collapsible-sidebar-sub-item>
    </ngx-collapsible-sidebar-item>
    <ngx-collapsible-sidebar-item title="Demo2" icon="add" routerLink="/page2">
    </ngx-collapsible-sidebar-item>
    <ngx-collapsible-sidebar-item title="Demo3" icon="add" routerLink="/page3">
      <ngx-collapsible-sidebar-sub-item>
        <span>Heading</span>
      </ngx-collapsible-sidebar-sub-item>
    </ngx-collapsible-sidebar-item>
    <ngx-collapsible-sidebar-item title="Demo4" icon="add" routerLink="/page4">
      <ngx-collapsible-sidebar-sub-item>
        <span>Heading</span>
      </ngx-collapsible-sidebar-sub-item>
    </ngx-collapsible-sidebar-item>
  </ngx-collapsible-sidebar>

  <ngx-collapsible-sidebar-content>
    <button (click)="collapse = !collapse">Toggle</button>
    <router-outlet></router-outlet>
  </ngx-collapsible-sidebar-content>
</ngx-collapsible-sidebar-container>
