<ngx-collapsible-sidebar-container>
  <ngx-collapsible-sidebar highlightColor="blue" [collapsed]="collapse">
    <ngx-collapsible-sidebar-item title="Demo1 Heading" icon="add" path="/page1">
      <ng-template ngxCollapsedSidebarItem>
        <mat-icon>delete</mat-icon>
      </ng-template>
      <ng-template ngxExpandedSidebarItem>Hello this is test</ng-template>
      <ngx-collapsible-sidebar-sub-item title="User1" path="user1">
      </ngx-collapsible-sidebar-sub-item>
      <ngx-collapsible-sidebar-sub-item title="User2" path="user2">
      </ngx-collapsible-sidebar-sub-item>
      <ngx-collapsible-sidebar-sub-item title="User3" path="user3">
      </ngx-collapsible-sidebar-sub-item>
    </ngx-collapsible-sidebar-item>
    <ngx-collapsible-sidebar-item title="Demo2" icon="add" path="/page2">
    </ngx-collapsible-sidebar-item>
    <ngx-collapsible-sidebar-item title="Demo3" icon="add" path="/page3">
      <ngx-collapsible-sidebar-sub-item title="User1" path="user1">
      </ngx-collapsible-sidebar-sub-item>
      <ngx-collapsible-sidebar-sub-item title="User2" path="user2">
      </ngx-collapsible-sidebar-sub-item>
      <ngx-collapsible-sidebar-sub-item title="User3" path="user3">
      </ngx-collapsible-sidebar-sub-item>
    </ngx-collapsible-sidebar-item>
    <ngx-collapsible-sidebar-item title="Demo4" icon="add" path="/page4">
      <ngx-collapsible-sidebar-sub-item title="User1" path="user1">
      </ngx-collapsible-sidebar-sub-item>
      <ngx-collapsible-sidebar-sub-item title="User2" path="user2">
      </ngx-collapsible-sidebar-sub-item>
      <ngx-collapsible-sidebar-sub-item title="User3" path="user3">
      </ngx-collapsible-sidebar-sub-item>
    </ngx-collapsible-sidebar-item>
  </ngx-collapsible-sidebar>

  <ngx-collapsible-sidebar-content>
    <button (click)="collapse = !collapse">Toggle</button>
    <router-outlet></router-outlet>
  </ngx-collapsible-sidebar-content>
</ngx-collapsible-sidebar-container>
